.btn {
    font-size: 16px;
    font-family: 'gilroyregular';
    padding: 18px 15px;
    min-width: 250px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    background: $black;
    color: white;
    border: none;
    text-transform: uppercase;
    &--right {
        margin-left: 15px;
        background: $green_sky;
        @include maxw(table_max) {
            margin-left: 0px;
            margin-top: 10px;
        }
    }
    &--icon {
        span {
            transform: rotate(-90deg);
            display: inline-block;
            margin-left: 15px;
        }
    }
}
