@import "utilities";
header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
	transition: 0.3s;
    padding: 10px 0px;
    .colors {
    	display: none;
    }
	.flex {
		display: flex;
	    align-items: center;
	    justify-content: space-between;
		.left {
			a {
			    width: 200px;
			    flex: none;
			    display: flex;
			    height: 90px;
			    align-items: center;
			    position: relative;
			    z-index: 1;
			    /*background: white;
			    padding: 10px;
			    box-sizing: border-box;*/
			    @include maxw(table_max) {
			    	width: 120px;
			    }
				img {
				    width: 100%;
				    height: auto;
				}
				&:before {
					content: '';
					position: absolute;
				    width: 400px;
				    height: 400px;
				    border-radius: 50%;
				    top: -200px;
				    left: -100px;
				    pointer-events: none;
				    transform: scale(0);
				    transition: 0.3s;	
				    z-index: -1;		    
				    background: white;
				    @include maxw(mypc) {
				    	width: 350px;
					    height: 350px;
					    top: -200px;
					    left: -80px;
				    }
				    @include maxw(table_max) {
				    	width: 180px;
					    height: 180px;
					    left: -33px;
					    top: -74px;
				    }
				}
			}
		}
		.right {
			.menu-icon {
				display: block !important;
				width: 60px;
			    height: 60px;
			    flex: none;
			    padding: 0px;
			    cursor: pointer;
			    position: relative;
			    background: $lightgreen;
			    border-radius: 50%;
				i {
					position: absolute;
					width: 30px;
				    height: 3px;
				    background: white;
				    right: 10px;
				    top: 50%;
					transform: translateY(-50%);
					transition: 0.3s;
					&:before, &:after {
						content: '';
						position: absolute;
						width: 40px;
					    height: 100%;
					    background: white;
					    right: 0px;
						transition: 0.3s;
					}
					&:before { top: -13px; }
					&:after { bottom: -13px; }
				}
			}
		}
	}
	&.active {
		.flex {
			.left {
				a {
					&:before { transform: none; }
				}
			}
		}
	    .colors {
	    	display: block;
	    }
	    .white {
	    	display: none;
	    }
	}
	&.header2 {
	   background: white;
	}
	.header-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo {
			a { display: block; }
			img {
				max-width: 150px;
			}			
		}
		.menu-header {
			ul {
			    display: flex;
			    align-items: center;
			    a {
				    color: #27233b;
				    font-size: 18px;
				    font-weight: 700;
				    display: block;
				    padding: 8px 20px;
				    border-radius: 6px;
				    &.contact {
					    background: #0fccea;
					    color: white;
					    margin-left: 40px;
					}
				}
			}
		}
	}
}
.menufixed {
	position: fixed;
    top: 110px;
    left: 0;
    width: 100%;
    height: calc(100% - 110px);
    background: white;
    z-index: 40;
    margin-right: 0px;	
    transition: 0.3s;		    
    opacity: 0;
    pointer-events: none;
    .fullh {
	    height: 100%;
	    display: flex;
	    align-items: center;
	    position: relative;
	    .absFoot {
		    position: absolute;
		    display: flex;
		    width: 100%;
		    justify-content: space-between;
		    bottom: 50px;
		    .btn {
		    	display: none;
		    }
		}
	}
	.middle-menu {
	    margin-top: -100px;
	    @include maxw(table_min) {margin-top: -55px; }
	    a {
		    display: block;
		    font-size: 50px;
		    margin: 20px 0px;
		    font-family: 'gilroybold';
		    -webkit-text-stroke: 1px $black;
		    color: transparent;
		    @include maxw(table_min) {
		    	font-size: 25px;
		    }
		}
	}
}
.menuOpen {
	overflow: hidden;
	header {
		box-shadow: none !important;
    	background: white;	
    	.colors {
	    	display: block;
	    }
	    .white {
	    	display: none;
	    }
	}
	.menufixed {
		opacity: 1;
		pointer-events: all;
    	background: white;	
	}
}

.fullContent_inside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    background: white;
    &.active {
	    opacity: 1;
	    pointer-events: all;
	}
}

.initfullContent {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    transition: 0.3s;
    transform: translateY(-50px);
    opacity: 0;
    pointer-events: none;
    &.active {
    	pointer-events: all;
    	opacity: 1;
    	transform: none;
    }
	&:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: white;
	    z-index: -1;
	    opacity: 0.4;
	}
	&__flex {
	    display: flex;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    justify-content: space-between;
	    height: 100%;
	    .fullContent {
	    	width: 50%;
		    position: relative;
		    height: 100%;
		    align-items: flex-end;
		    display: flex;
		    cursor: pointer;
		    img {
		    	height: 500px;
			    object-fit: cover;
			    margin: 20px auto;
			    display: block;
		    }
		    h2 {
			    font-size: 50px;
			    position: absolute;
			    top: 150px;
			    left: 50%;
			    transform: translateX(-50%);
			    text-align: center;
			    z-index: -1;
			    line-height: 50px;
			    opacity: 0.4;
			}
			&:hover {
			    background: #0fccea4a;
			    z-index: 1;
			}
	    }
	}
}

header.fixhead a {
    opacity: 0.2;
    pointer-events: none;
}
header.fixhead a.presentations.active {
    opacity: 1;
    color: #0fccea;
    pointer-events: all;
    border-bottom: solid 2px #0fccea;
}

.d_banner__article:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: -2;
}

.d_banner {
	display: flex;
	overflow: hidden;
	width: 100%;
	position: relative;
	&__flex {
		display: flex;
		height: 100%;
		flex-wrap: wrap;
		width: 100%;
	}
	&__article {
		width: 100%;
		flex: none;
		@include maxw(table_min) {
			display: flex;
			align-items: center;
		}
		.posRelative {
		    position: relative;
		    height: 100%;
		    display: flex;
		    align-items: center;
			@include maxw(table_min) {
				flex-wrap: wrap;
				height: auto;
			}
		}
		&__left {
		    width: 50%;
		    @include maxw(table_max) {
				width: calc(100% - 320px);
		    }
		    @include maxw(table_min) {
				width: 100%;
				flex: none;
			}
		    h1 {
		    	-webkit-text-stroke: 2px #27233b;
			    color: transparent;
			    font-size: 48px;
			    @include maxw(mypc) {
			    	font-size: 35px;
			    }
		    }
		    .content {
		    	p {
				    color: #27233b;
				    font-size: 18px;
				    line-height: 24px;
				    margin: 20px 0px;
				}
		    }
			.true_fragancias {
				margin-top: 80px;
				@include maxw(mypc) {
					margin-top: 30px;
				}
				ul {
				    display: flex;
				    flex-wrap: wrap;
				}
				a {
				    color: white;
				    border: solid 1px white;
				    border-radius: 50%;
				    width: 100px;
				    height: 100px;
				    text-align: center;
				    font-size: 14px;
				    display: flex;
				    align-items: center;
				    margin-right: 20px;
				    font-weight: 700;
				    justify-content: center;
				    margin-bottom: 20px;
				    transition: 0.3s;
				    @include maxw(table_max) {
				    	width: 30px;
					    height: 30px;
					    margin-right: 10px;
				    	span { display: none; }
				    }
				    &:hover {
				    	transform: scale(1.2);
				    }
				}
			} 
			.social_r {
			    color: white;
			    position: absolute;
    			bottom: 40px;
			    ul {
				    display: flex;
				    margin-top: 5px;
				    a {
				    	margin-right: 10px;
				    	img {
						    filter: invert(1);
						    width: 25px;
						    height: 25px;
						}
				    }
				}
			}
			.height__left {
				height: 100%;
			    display: flex;
			    align-items: center;
			    @include maxw(table_min) {
			    	padding-top: 40px
			    }
				h2 {
				    font-size: 64px;
				    color: $black;
				    margin-bottom: 70px;
				    position: relative;
				    @include maxw(mypc) {
				    	font-size: 42px;
    					margin-bottom: 20px;
				    }
				    @include maxw(table_min) {
				    	font-size: 24px;
    					margin-bottom: 10px;
				    }
				    i {
					    position: absolute;
					    width: 120px;
					    height: 120px;
					    z-index: -1;
					    border-radius: 50%;
					    top: -15px;
					    left: -15px;
					    opacity: .7;
					    @include maxw(mypc) {
					    	width: 60px;
						    height: 60px;
						    top: -2px;
					    }
					}
				}
				.content {
					p {
					    color: $black;
					    font-size: 20px;
					    line-height: 30px;
					    @include maxw(mypc) {
					    	font-size: 18px;
    						line-height: 24px;
					    }
					}
				}
				.social_r {
				    color: $black;		
				    position: relative;
    				bottom: 0px;		    
				    ul {					    
					    a {					    	
					    	img {
							    filter: invert(0);							    
							}
					    }
					}
				}
			}
		}
		&__right {
			width: 50%;
			height: 100%;
			position: relative;
			@include maxw(table_max) {
				width: 320px;
		    }
		    @include maxw(table_min) {
				width: 100%;
				flex: none;
				img {
					display: block !important;
					width: 100%;
					pointer-events: none;
					object-fit: contain;
    				max-height: 300px;
				}
			}
		}
	}
	&--about {
		background-size: cover;
		position: relative;
		transition: 0.8s;
		&.left {
			margin-left: -100%;
		}
	}
	.imagen_absolute {
	    position: absolute;
	    right: 300px;
	    bottom: 20px;
	    perspective: 1000px;
	    width: 400px;
	    height: 700px;
	    @include maxw(mylaptop) {
			right: 50px;
		}
		@include maxw(laptop) {
			right: 50px;
		}
		@include maxw(tablet_p) {
			right: 20px;
		}
		@include maxw(table_max) {
			width: 300px;
    		height: 500px;
		}
	    @include maxw(table_min) {
			display: none;
		}
	    .ress {
		    opacity: 0;
		    width: 400px;
		    height: 100%;
		    transition: 0.5s;
		    position: absolute;
		    pointer-events: none;
		    object-fit: cover;
		    @include maxw(table_max) {
		    	width: 300px;
		    }
		    &.ress_fb, &.show {
			    display: block;
			    opacity: 1;
			    pointer-events: all;
			}
			&:hover {				
			    transform: rotateY(5deg);
			}
		}
	}
	.fragancias_inside {
		height: 100%;
		overflow: hidden;
		.fragancias_hide {
			display: none;
			height: 100%;
			.back, .back2 {
			    background: #27233b;
			    color: white;
			    padding: 10px 15px;
			    border-radius: 5px;
			    margin-bottom: 25px;
			    display: inline-block;
			    &:before {
				    content: '';
				    display: inline-block;
				    width: 7px;
				    height: 7px;
				    border-bottom: solid 2px white;
				    border-left: solid 2px white;
				    transform: rotate(45deg);
				    position: relative;
				    top: -1px;
				    margin-right: 10px;
				}
			}
			.decorative1 {
			    position: absolute;
			    width: 400px;
			    height: 400px;
			    border-radius: 50%;
			    top: -200px;
			    left: -100px;
			    pointer-events: none;
			    transform: scale(0);
			    transition: 0.3s;		
			    z-index: -1;	    
			    @include maxw(mypc) {
			    	width: 350px;
				    height: 350px;
				    top: -200px;
				    left: -80px;
			    }
			}			
			.decorative2 {
			    position: absolute;
			    width: 700px;
			    z-index: -1;
			    height: 700px;
			    border-radius: 50%;
			    bottom: -350px;
			    left: -350px;
			    transform: scale(0);
			    transition: 0.3s;
			    opacity: 0.7;
			    @include maxw(mypc) {
			    	width: 400px;
				    height: 400px;
				    bottom: -200px;
				    left: -200px;
			    }
			}
			&.show {
				display: block;
				.decorative1, .decorative2 {
					transform: none;
				}
			}
		}
	}
	.decorative_image {
	    position: absolute;
	    width: 500px;
	    height: 500px;
	    bottom: 30px;
	    right: -50px;
	    @include maxw(table_max) {
	    	width: 300px;
	    	height: 300px;
	    	right: 0px;
	    }
	    @include maxw(table_min) {
	    	display: none;
	    }
	    div {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0px;
		    border-radius: 50%;
		    &.decorative_image__2 {
			    transform: scale(1.2);
			    opacity: 0.4;
			    top: -50px;
			}
			&.decorative_image__3 {
			    transform: scale(1.4);
			    opacity: 0.3;
			    top: -100px;
			}
		}
	}
}